/*SQUARES */

.main__squares{
    height: 100vh;
    background-color: #370617; 
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
   
}

/*CONTAINER FOR CONTAINERS*/
.squares{
    width: 1152px;
    /*border: solid 2px green;*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px 20px;
}


.container{
    flex-basis: 40%;
    height: 160px;
    background: #F48C06;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;    
    
}

/*PROPERTIES FOR SQUARES*/
.container__square{
    min-width: 78px;
    min-height: 78px;
    background: #9D0208;
    border-radius: 4px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.container__first{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
   
}

.container__second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;

    
}

.container__third{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container__third:last-of-type{
    margin-right: 20px;
}

.container__fourth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.container__fourth:last-of-type{
    margin-right: 20px;
    align-self: flex-end;
}

.container__fifth {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
}

.container__fifth:nth-of-type(2){
    align-self: center;
}

.container__fifth__text{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-self: center;
}

.container__sixth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container__sixth:nth-of-type(2){
    flex-grow: 0.6;
}




/*CIRCLES*/
.main__circles{
    height: 100vh;
   
    background-color: #FAA307; 
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    /*border: 3px solid pink;*/
}

.circles{
    width: 49%;
    /*border: solid 2px green;*/
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 20px 20px;

}

/*CONTAINER FOR CIRCLES*/
.box{
    /*border: 2px solid purple;*/
    width: 273px;
    height: 220px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    
}


.box:nth-child(2),
.box:nth-child(4){
    background: #6A040F;
}

/*PROPERTIES FOR EACH CIRCLE*/
.box__circle{
    width: 50px;
    height: 50px;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    
    
}

.box__first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 10px;
    padding: 10px;

}

.box__second{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;

}

.box__third {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px; 
    justify-content: space-between;
    align-content: space-between;

}

.box__fourth{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px; 
    justify-content: space-evenly;
    align-content: space-around;
}

.box__fifth{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px; 
    justify-content: center;
    align-items: center; 
    align-content: center;
}